# {{ ansible_managed }}

#Main Config
daemon={{ ddclient_main_conf.daemon }}
syslog={{ ddclient_main_conf.syslog }}
mail={{ ddclient_main_conf.mail }}
mail-failure={{ ddclient_main_conf.mail_failure }}
pid={{ ddclient_main_conf.pid }}
ssl={{ ddclient_main_conf.ssl }}
use={{ ddclient_main_conf.use }}

#Cloudflare

protocol={{ ddclient_ddns_conf.protocol }}, \
zone={{ ddclient_ddns_conf.zone }}, \
password={{ ddclient_ddns_conf.password }} \
{{ ddclient_ddns_conf.domains }}

